@model BookingInfoViewModel

<h3>Бронирование успешно совершено! номер заказа : @Model.ID</h3>
<p>Посмотреть информацию о ваших броинрованиях, можно по номеру паспорта по ссылке ниже!</p>
@Html.ActionLink("Проверить бронь", "BookingState", "Booking")