@model ProjectHotelMVC.Models.CategoryViewModel

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Добавить категорию!</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CategoryAdd" asp-controller="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Price" class="control-label">Цена номера за сутки</label>
                <input type="number" name="Price"class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить!" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Category" asp-controller="Admin">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
